@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-grotesk: "Space Grotesk", system-ui, sans-serif;
  
  --color-primary: #135bec;
  --color-primary-hover: #114ecb;
  --color-accent: #13ec5b;
  --color-danger: #f20d0d;
  
  --color-background-dark: #0f172a;
  --color-surface-dark: #1e293b;
  --color-surface-hover: #334155;
  
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
}

:root {
  color-scheme: dark light;
}

body {
  margin: 0;
  background-color: var(--color-background-dark);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

/* Base custom classes to match Stitch design language */
@layer components {
  .glassmorphism {
    @apply bg-slate-800/40 backdrop-blur-md border border-slate-700/50;
  }
}
